<div id="current-card">
  <h1> TAKING QUIZ -- Current Card </h1>

  The current card is: <%= @current_card.inspect %>

  <div class="card-title">
    <h2><%= @current_card.title %></h2>
  </div>

  <div class="card-body">
    <%= @current_card.body %>
  </div>


</div>