<div id="navbar">


  <ul>
<!--     <%= link_to root_path do %>
      <li>Home</li>
    <% end %> -->
    <%= link_to quizzes_path do %>
      <li>Quizzes</li>
    <% end %>
    <%= link_to categories_path do %>
      <li>Categories</li>
    <% end %>
    <%= link_to cards_path do %>
      <li>Cards</li>
    <% end %>
  </ul>


</div>