<%= button_to "Pass", quiz_next_card_path(quiz, :card_status => "pass"), :method => :post %>
<%= button_to "Fail", quiz_next_card_path(quiz, :card_status => "fail"), :method => :post %>
<button onClick="showBody()">Show Answer</button>