<div class="pass-fail-buttons">

  <%= button_to "Fail", quiz_next_card_path(quiz, :card_status => "fail", :card_id => card_id), :method => :post, :class => "fail-button decision-button" %>

  <%= button_to "Pass", quiz_next_card_path(quiz, :card_status => "pass", :card_id => card_id), :method => :post, :class => "pass-button decision-button" %>

</div>