<%= button_to "Pass", quiz_next_card_path(quiz, :card_status => "pass", :card_id => card_id), :method => :post %>
<%= button_to "Fail", quiz_next_card_path(quiz, :card_status => "fail", :card_id => card_id), :method => :post %>
<button onClick="Card.showBody()">Show Answer</button>