

#content{
  max-width: 50em;
  width: 100%;
  margin: 1em auto;
}

#navbar{
  text-align: center;
  padding: .25em 0;
  border-bottom: 1px solid #ccc;
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  li{
    display: inline-block;
    width: 5em;
    text-align: center;
  }
}